* {
    font-family: "Helvetica", sans-serif;
}

.page-container,
.header-container,
.text-container,
.board-container,
.board-row-container,
.options-container,
.option-container {
    display: flex;
}

.page-container {
    flex-direction: column;
    width: 1000px;
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    gap: 25px;
}

.header-container {
    gap: 20px;
}

.text-container {
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.description {
    font-size: 36;
}

.board-value {

}

.options-container {
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    justify-content: space-evenly;
}

.option-container {
    align-items: center;
}

.checkbox {
    padding: 0;
    margin: 0;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.random-color-checkbox {

}

.option-text {
    font-size: 24px;
}

.gradient-checkbox {

}

button.reset {
    width: 150px;
    font-size: 30px;
    border-radius: 10px;
}

.board-container {
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    height: 1000px;
    width: 1000px;
}

.board-row-container {
    flex: 1;
}

.board-item {
    flex: 1;
}